
.limiter{
    margin-left: 30%;
    max-width: 400px;
    margin-top: 5%;
    border-radius: 5px;
    text-align: center;

}
label{
    color: rgb(0, 0, 0);
    font-family: 'papyrus',sans-serif;
}

.title{
    padding: 8px;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-family: 'papyrus',sans-serif;

}

  input{
    height: 25px;
    width: 60%;
    margin: 10px;
    border-radius: 10px;
   
  }

  .container{
      background-color: rgba(240, 230, 230, 0.438);
      border: none;
      width: 550px;
      margin-bottom: 1.5rem;
      border-radius: 10px;
    }
    .form-btn{
      width: 180px;
      color: #000;
      font-size: 12px;
      padding: 12px 0;
      background: rgb(216, 196, 196);
      border: 0;
      border-radius: 20px;
      outline: none;
      cursor: pointer;
      box-shadow: 0 2px 0 2px red;
      margin-bottom: 20px;
      margin-top: -10px;
  }
  
  .form-btn:hover{
      background-color: rgb(203, 35, 35);
      box-shadow: 0 2px 0 2px black;
      color: white;
      transform: translateY(-5px);
      transition: transform 0.2s;
  }








