<app-usernavbar></app-usernavbar>

<div class="limiter">
    <div class="container">
        <div class="wrap">
            <form class="contain-form" #myForm="ngForm" (ngSubmit)="onSubmit()">
                <div class="title">
                    <h2>Choose Theater</h2>
                </div>
 <hr>
                <div class="bookingdate" data-validate="Please enter username">
                    <label>UserName :</label>
                    <input class="input" type="text" #username="ngModel" name="username"
                        [(ngModel)]="selectdate.username" id="username" placeholder="Username"
                        [value]="selectdate.username" />
                </div>

                <div class="bookingdate" data-validate="Please enter moviename">
                    <label>MovieName :</label>
                    <input class="input" type="text" #moviename="ngModel" name="moviename"
                        [(ngModel)]="selectdate.moviename" id="moviename" placeholder="Moviename"
                        [value]="selectdate.moviename" />
                </div>

                <div class="bookingdate" data-validate="Please enter password">
                    <label>TicketCost :</label>
                    <input class="input" type="text" #ticketcost="ngModel" name="ticketcost"
                        [(ngModel)]="selectdate.ticketcost" id="ticketcost" placeholder="Ticket cost"
                        [value]="selectdate.ticketcost" />
                </div>
                
                <div class="bookingdate" data-validate="Please enter username">
                    <label> Choose Date : </label>
                    <input class="input" type="date" #bookingdate="ngModel" name="bookingdate"
                        [(ngModel)]="choosemovie.bookingdate" id="txtDate" placeholder="Booking date"
                        min="{{mindate}}" [max]="selectdate.outdate"/>
                </div>
<br />
                <div class="container-form-btn">
                    <button class="form-btn" type="submit" routerLink="login">
                        Select Seats
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>