
  .box {
    margin-top: 8%;
    margin-left: 35%;
    width: 30%;
    padding: 35px;
    text-align: center;
  }
  h1{
      color: white;
      text-shadow: 2px 2px 4px #000000;
      font-family: 'Ink Free', sans-serif;
  }
  img {
      margin-top: -20px;
      width: 70%;
      height: 70%;
      margin-bottom: -20px;
  }