<app-usernavbar></app-usernavbar>
<div class="limiter">
    <div class="container">
        <div class="wrap">
            <form class="contain-form" #myForm="ngForm" (ngSubmit)="onSubmit()">
                <div class="title">
                    <h2>- Choose Theater -</h2>
                </div>
<hr>
                <div class="theater" >
                    <label>Theater :</label>
                    <select class="input" type="text" #theatername="ngModel" name="theatername"
                        [(ngModel)]="choosetheaterId.theaterId" id="theatername">
                        <option value="">Choose Theater</option>
                        <option *ngFor="let theater of theaterlist" [value]="theater._id">
                            {{theater.theatername}}</option>
                    </select>
                </div>
                <br />

                <div class="container-form-btn">
                    <button class="form-btn">
                        View Movies
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>