<app-adminnavbar></app-adminnavbar>
<div class="limiter">
    <div class="container">
        <div class="wrap">
            <form class="contain-form" #myForm="ngForm" (ngSubmit)="OnSubmit()">
                <div class="title">
                    <h2>- Adding a Theater -</h2>
                </div>
<hr>
                <div class="profile">
                    <label>Theater Name :</label>
                    <input class="input" type="text"  name="theatername" #theatername="ngModel" required
                        [(ngModel)]="theaterupload.theatername" id="theatername"/>
                        <div *ngIf="theatername.invalid && (theatername.dirty || theatername.touched)" class="alert">
                            <div *ngIf="theatername.errors?.required" style="color: red">*THEATER Name is required.</div>
                        </div>
                </div>
                <div class="profile">
                    <label>Theater id :</label>
                    <input class="input " type="text" #theaterId="ngModel" name="theaterid" required
                        [(ngModel)]="theaterupload.theaterid" id="theaterid"/>
                        <div *ngIf="theaterId.invalid && (theaterId.dirty || theaterId.touched)" class="alert">
                            <div *ngIf="theaterId.errors?.required" style="color: red">*Name is required.</div>
                        </div>

                </div>
                <div class="profile">
                    <label>Total Seats :</label>
                    <input class="input " type="number" #totalseats="ngModel" name="totalseats" required
                        [(ngModel)]="theaterupload.totalseats" id="totalseats"/>
                        <div *ngIf="totalseats.invalid && (totalseats.dirty || totalseats.touched)" class="alert">
                            <div *ngIf="totalseats.errors?.required" style="color: red">*Name is required.</div>
                        </div>
                </div>
                <div class="profile">
                    <label>Select Location :</label>
                    <select class="input " type="text" #theaterlocation="ngModel" name="theaterlocation"
                        [(ngModel)]="theaterupload.theaterlocationId" id="theaterlocation">
                        <option value="">Select Location</option>
                        <option *ngFor="let item of data" [value]="item._id">{{item.locationName}}</option>
                    </select>
                </div>
                <br />
                <div class="container-form-btn">
                    <button class="form-btn" type="submit" routerLink="adminhome">
                        Add Theater
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>