<app-navbar></app-navbar>
<div class="limiter">
    <div class="col">
        <div class="cards card1">
        </div>
    </div>
    <div class="container">
        <div class="wrap">
            <form class="contain-form" #myForm="ngForm" (ngSubmit)="onSubmit()">
                <div class="title">
                    <h2>-LogIn-</h2>
                </div>
<hr>
                <div class="login">
                    <label>Email :</label>
                    <input  type="email" name="email" #email="ngModel" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required  [(ngModel)]="login.email"
                        id="email"/>
                        <div *ngIf="email.invalid && (email.dirty || email.touched)" >
                            <div *ngIf="email.errors?.required" style=" color: red">
                                *Email is required
                            </div>
                            <div *ngIf="email.errors && email.errors.pattern" style="color: red;">
                                *Email is invalid
                            </div>
                        </div>
                </div>

                <div class="login">
                    <label>Password :</label>
                    <input type="password" #password="ngModel" name="password" required
                        [(ngModel)]="login.password" id="password"/>
                        <div *ngIf="password.invalid && (password.dirty || password.touched)">
                            <div *ngIf="password.errors?.required" style="color: red">*Enter valid PASSWORD.</div>      
                        </div>  
                </div>
                <br />

                <div class="container-form-btn">
                    <button class="form-btn">
                        Login
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="col">
        <div class="cards card2">
        </div>
    </div>
</div>

