<app-navbar></app-navbar>
<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <form class="login100-form validate-form p-l-55 p-r-55 p-t-178" #myForm="ngForm" (ngSubmit)="onSubmit()">
                <div class="title">
                    <h2>- LOGIN -</h2>
                </div>
<hr>

                <div class="wrap-input100 validate-input m-b-16" data-validate="Please enter username">
                    <label>User Email :</label>
                    <input class="input100" type="text" #email="ngModel" name="email" [(ngModel)]="login.email"
                        id="email" placeholder="Email" />
                    <span class="focus-input100"></span>

                </div>

                <div class="wrap-input100 validate-input" data-validate="Please enter password">
                    <label>Password :</label>
                    <input class="input100" type="password" #password="ngModel" name="password"
                        [(ngModel)]="login.password" id="password" placeholder="Password" />
                    <span class="focus-input100"></span>
                </div>
                <br />

                <div class="container-login100-form-btn">
                    <button class="login100-form-btn">
                        Login
                    </button>
                </div>

                <div class="flex-col-c p-t-40 p-b-40"></div>
            </form>
        </div>
    </div>
</div>

