<app-navbar></app-navbar>
<div class="limiter">
    <div class="container">
        <div class="wrap">
            <form class="contain-form" #myForm="ngForm" (ngSubmit)="onSubmit()">
                <div class="title">
                    <h2>- LOGIN -</h2>
                </div>
<hr>

                <div class="login">
                    <label>User Email :</label>
                    <input type="text" #email="ngModel" name="email" required [(ngModel)]="login.email"
                        id="email" placeholder="Email" />
                        <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert">
                            <div *ngIf="email.errors?.required" style=" color: red">
                                *E-MAIL is required
                            </div>
                        </div>
                </div>

                <div class="login">
                    <label>Password :</label>
                    <input type="password" #password="ngModel" name="password" required
                        [(ngModel)]="login.password" id="password" placeholder="Password"/>
                        <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert">
                            <div *ngIf="password.errors?.required" style="color: red">*Enter valid PASSWORD.</div>      
                        </div>  
                </div>
                <br />

                <div class="container-form-btn">
                    <button class="form-btn">
                        Login
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

