<app-usernavbar></app-usernavbar>
<div class="limiter">
    <div class="container">
        <div class="wrap">
            <form class="contain-form" #myForm="ngForm">
                <div class="title">
                    <h2>- MY TICKET -</h2>
                </div>
<hr>
                <div class="booking"  >
                    <label>User Name :</label>
                    <input class="input" type="text" #username="ngModel" name="username"
                        [(ngModel)]="bookingdata.username" id="username"  readonly />
                </div>
                <div class="booking"  >
                    <label>Mobile :</label>
                    <input class="input" type="text" #mobile="ngModel" name="mobile" [(ngModel)]="bookingdata.mobile"
                        id="mobile" readonly />      
                </div>
                <div class="booking"  >
                    <label>Email :</label>
                    <input class="input" type="text" #email="ngModel" name="email" [(ngModel)]="bookingdata.email"
                        id="email"  readonly />
                </div>
                <div class="booking"  >
                    <label>Movie Name :</label>
                    <input class="input" type="text" #moviename="ngModel" name="moviename"
                        [(ngModel)]="bookingdata.moviename" id="moviename"  readonly />   
                </div>
                <div class="booking"  >
                    <label>Booking Date :</label>
                    <input class="input" type="text" #bookingdate="ngModel" name="bookingdate"
                        [(ngModel)]="bookingdata.bookingdate" id="bookingdate" readonly />       
                </div>

                <div class="booking"  >
                    <label>Watchers :</label>
                    <input class="input" type="text" #moviewatchers="ngModel" name="moviewatchers"
                        [(ngModel)]="bookingdata.moviewatchers" id="moviewatchers" readonly />   
                </div>

                <div class="booking"  >
                    <label>TotalSeats :</label>
                    <input class="input" type="text" #totalseats="ngModel" name="totalseats"
                        [(ngModel)]="bookingdata.totalseats" id="totalseats" readonly />    
                </div>
                <div class="booking"  >
                    <label>SeatNames :</label>
                    <input class="input" type="text" #seatnames="ngModel" name="seatnames"
                        [(ngModel)]="bookingdata.seatnames" id="seatnames" readonly />     
                </div>
                <div class="booking"  >
                    <label>Total Cost :</label>
                    <input class="input" type="text" #totalcost="ngModel" name="totalcost"
                        [(ngModel)]="bookingdata.totalcost" id="totalcost" readonly /> 
                </div>
                <br>
                <div class="container-form-btn">
                    <button class="form-btn" type="submit" (click)="insertbooking()">
                        Confirm Booking
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>