<app-adminnavbar></app-adminnavbar>

<div class="container bg-dark">
  <table class="table table-striped table-bordered border-primary" id="table">
    <caption>VIEW FEEDBACK</caption>
    <thead>
      <tr>
        <th class="text-center">UserName</th>
        <th class="text-center">Email</th>
        <th class="text-center">Message</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let item of data">
        <td>
          {{item.username}}
        </td>
        <td>
          {{item.email}}
        </td>
        <td>
          {{item.message}}
        </td>
      </tr>
    </tbody>
  </table>
</div>