<app-usernavbar></app-usernavbar>
<div class="limiter">
    <div class="container">
        <div class="wrap">
            <form class="contain-form" #myForm="ngForm" (ngSubmit)="onSubmit()">
                <div class="title">
                    <h2>-Choose Movie-</h2>
                </div>
 <hr>        
                <div class="choosemovie" data-validate="Please enter username">
                    <label>Movies :</label>
                    <select class="input" type="text" #moviename="ngModel" name="moviename"
                        [(ngModel)]="choosemoviename.moviename" id="moviename" placeholder=" Choose Location">
                        <option value="">Select Movie</option>
                        <option *ngFor="let movie of movielist" [value]="movie.moviename">
                            {{movie.moviename}}</option>
                    </select>

                </div>
                <br />

                <div class="container-form-btn">
                    <button class="form-btn">
                        Select Date
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
