<app-adminnavbar></app-adminnavbar>
<div class="limiter">
    <div class="container">
        <div class="wrap">
            <form class="contain-form" #myForm="ngForm">
                     <div class="title">
                    <h2>- My Profile -</h2>
                </div>
<hr>
                <div class="admin-profile" >
                    <label>Your Name :</label>
                    <input class="admin-detials" type="text" value={{details.username}} #username="ngModel" name="username"
                        [(ngModel)]="details.username" id="username" placeholder="Username" readonly />
                </div>
                <div class="admin-profile" >
                    <label>Your Email :</label>
                    <input class="admin-detials" type="text" value={{details.email}} #email="ngModel" name="email"
                        [(ngModel)]="details.email" id="email" placeholder="Email" readonly />
                </div>
                <div class="admin-profile" >
                    <label>Your Password :</label>
                    <input class="admin-detials" type="text" value={{details.password}} #password="ngModel" name="password"
                        [(ngModel)]="details.password" id="password" placeholder="Password" readonly />
                </div>
                <div class="admin-profile" >
                    <label>Your Address :</label>
                    <input class="admin-detials" type="text" value={{details.address}} #address="ngModel" name="address"
                        [(ngModel)]="details.address" id="address" placeholder="Address" readonly />
                </div>
                <div class="admin-profile" >
                    <label>Your Mobile :</label>
                    <input class="admin-detials" type="text" value={{details.mobile}} #mobile="ngModel" name="mobile"
                        [(ngModel)]="details.mobile" id="mobile" placeholder="Mobile" readonly />
                </div>
            </form>
        </div>
    </div>
</div>
