<app-usernavbar></app-usernavbar>
<div class="limiter">
    <div class="container">
        <div class="wrap">
            <form class="contain-form" #myForm="ngForm" (ngSubmit)="onSubmit()">
                <div class="title">
                    <h2>- Feedback -</h2>
                </div>
<hr>
                <div class="feedback" data-validate="Please enter username">
                    <label>Email :</label>
                    <input class="input" type="text" #email="ngModel" name="email" [(ngModel)]="feedback.email"
                        id="email" placeholder="Email" />
                </div>

                <div class="feedback" data-validate="Please enter password">
                    <label>Message :</label>
                    <input class="input" type="text" #message="ngModel" name="message" [(ngModel)]="feedback.message"
                        id="message" placeholder="Feedback" />
                </div>
                <br />

                <div class="container-form-btn">
                    <button class="form-btn">
                        Submit
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>