.navbar-inverse .navbar-nav>li>a {
    color: white;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: rgba(194, 35, 35, 0.944);
    background-color: transparent;
}

.navbar-inverse .navbar-brand {
    color: rgb(255, 0, 0);
    font-family: 'Comic Sans MS',sans-serif;
}

