
<div class="limiter">
    <div class="container">
        <div class="wrap">
            <form class="contain-form" #myForm="ngForm" (ngSubmit)="onSubmit()">
                <div class="title">
                    <h2>- Choose Location -</h2>
                </div>
<hr>
                <div class="location" data-validate="Please enter username">
                    <label>Location :</label>
                    <select class="input100" type="text" #location="ngModel" name="location"
                        [(ngModel)]="chooselocation.locationId" id="location">
                        <option value="">Select Location</option>
                        <option *ngFor="let item of data" [value]="item._id">{{item.locationName}}</option>
                    </select>
                </div>
                <br />

                <div class="container-form-btn">
                    <button class="form-btn">
                        View Theater
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>