<app-adminnavbar></app-adminnavbar>
<div>
  <br />
  <h1 class="header">
    Theater Movies
  </h1>
  <br>
  <div class="row">
    <div class="column" *ngFor="let item of data">
      <div class="card" style="text-align:left;">
        <img src={{item.movieimageurl}} alt={{item.moviedescription}} width="260px" height="350px"/>
        <br />
        <button class="btn btn-delete" style="width: 78%;"
          (click)="deleteMovie(item._id,item._rev)">
          Delete
        </button>
      </div>
      <br>
    </div>
  </div>
</div>
