<app-usernavbar></app-usernavbar>
<div class="limiter">
    <div class="container">
        <div class="wrap">
            <form class="contain-form" #myForm="ngForm">
                <div class="title">
                    <h2>- My Profile -</h2>
                </div>
<hr>

                <div class="profile" >
                    <label>Your Name :</label>
                    <input class="input" type="text" value={{details.username}}  name="username"
                        [(ngModel)]="details.username" id="username" placeholder="Username" readonly />
                    <span class="focus-input100"></span>

                </div>

                <div class="profile" >
                    <label>Email :</label>
                    <input class="input" type="text" value={{details.email}}  name="email"
                        [(ngModel)]="details.email" id="email" placeholder="Email" readonly />
                    <span class="focus-input100"></span>

                </div>

                <div class="profile" >
                    <label>Password :</label>
                    <input class="input" type="text" value={{details.password}}  name="password"
                        [(ngModel)]="details.password" id="password" placeholder="Password" readonly />

                    <span class="focus-input100"></span>
                </div>

                <div class="profile">
                    <label>Address :</label>
                    <input class="input" type="text" value={{details.address}}  name="address"
                        [(ngModel)]="details.address" id="address" placeholder="Address" readonly />
                    <span class="focus-input100"></span>
                </div>
                <div class="profile">
                    <label>Mobile :</label>
                    <input class="input" type="text" value={{details.mobile}}  name="mobile"
                        [(ngModel)]="details.mobile" id="mobile" placeholder="Mobile" readonly />
                    <span class="focus-input100"></span>
                </div>
            </form>
        </div>
    </div>
</div>